/* Main CSS Here */

@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
--background-color1: #0a0aca;
--background-color2: #ffffff;
--background-color3: #ededed;
--background-color4: #7191f1a4;
--primary-color: #14a9e4;
--secondary-color: #0c007d;
--Border-color: #019df7;
--one-use-color: #001797;
--two-use-color: #0e49ec;
--exit-use-color: #ff0000;
}

.main-container {
display: flex;
width: 100vw;
position: relative;
top: 10px;
z-index: 1;

}

.main {
height: calc(100vh - 70px);
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
padding: 40px 30px 30px 30px;
}

.box-container {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 50px;
text-decoration: none !important;
}

.box {
height: 130px;
width: 230px;
border-radius: 20px;
box-shadow: 3px 3px 10px rgba(5, 219, 16, 0.76);
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}

.salir {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.76);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }

.box:hover {
transform: scale(1.08);
}

.box:nth-child(1) {
background-color: var(--one-use-color);
}

.salir:nth-child(1) {
    background-color: var(--exit-use-color);
}

.box img {
height: 60px;
}

.box .text {
color: white;
}

.topic {
font-size: 20px;
font-weight: 400;
letter-spacing: 1px;
}

.textoddd {
    font: bold 80px/1 arial;
    text-transform: uppercase;
    color: #001797!important;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;

  }